.container {
  position: relative;
}

.bar {
  height: 400px;
  width: 800px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.line {
  height: 400px;
  width: 800px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}
