.container {
  position: relative;
}

.bar {
  height: 400px;
  width: 800px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background: #333;
}
.line {
  height: 400px;
  width: 800px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

.title {
  position: absolute;
  top: 10px;
  left: 50%;
  font-weight: bold;
  font-family: arial;
  transform: translateX(-50%);
  color: #eee;
}
